div#product-details {
  padding: 1rem;
  border: 1px solid lightgray;
}

.back-link {
  display: inline-block;
  transition: transform 0.4s ease-in-out;
}

.back-link:hover {
  transform: translateX(-0.3rem);
}

.main-details {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.image-wrapper {
  width: 33%;
}

.column-two-thirds {
  width: 66%;
}

.image-wrapper > img {
  width: 100%;
  object-fit: cover;
}

button {
  background-color: rgb(220, 220, 220);
  border: none;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}
